root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 100

[*.cs]
indent_size = 4
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true

[*.xml]
indent_size = 4

[src/AwsLambda.Host.Testing/HostFactoryResolver.cs]
ij_formatter_enabled = false
resharper_disable_formatter = true