name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

concurrency:
  group: release-drafter-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-release-draft:
    if: github.event.pull_request.draft == false
    
    permissions:
      contents: write
      pull-requests: write
      
    runs-on: ubuntu-latest
    
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # https://github.com/release-drafter/release-drafter/commit/3f0f87098bd6b5c5b9a36d49c41d998ea58f9348
        with:
          config-name: release-drafter.yml
          disable-autolabeler: false
          include-pre-releases: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
