name: "Update Changelog"

on:
  release:
    types: [released]

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # updated CHANGELOG back to the repository.
      # https://github.blog/changelog/2023-02-02-github-actions-updating-the-default-github_token-permissions-to-read-only/
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.release.target_commitish }}

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ github.event.release.tag_name }}
          release-notes: ${{ github.event.release.body }}
          
      - name: Remove header and summary from CHANGELOG
        run: perl -i -pe 'BEGIN{undef $/} s/(## (?:\[)?v[\d.]+(?:\](?:\([^)]+\))?)? - \d{4}-\d{2}-\d{2}\n)[\s\S]*?### Changes\n+/$1\n/g' CHANGELOG.md

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          branch: changelog/${{ github.event.release.tag_name }}
          base: ${{ github.event.release.target_commitish }}
          title: "chore: update changelog for ${{ github.event.release.tag_name }}"
          body: |
            ## Automated Changelog Update

            This PR updates the CHANGELOG.md file with entries from the release: ${{ github.event.release.tag_name }}

            The changelog was automatically updated by the release workflow.
          commit-message: "chore: update changelog for ${{ github.event.release.tag_name }}"
          labels: "automated,changelog,chore"
          delete-branch: true

      - name: Enable Auto-merge
        if: steps.cpr.outputs.pull-request-number
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ steps.cpr.outputs.pull-request-url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}